In [60]:
# pip install yfinance

In [62]:
import pandas as pd
import yfinance as yf

In [63]:
sp500url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
data_table = pd.read_html(sp500url)

In [65]:
data_table

[    Symbol             Security             GICS Sector  \
 0      MMM                   3M             Industrials
 1      AOS          A. O. Smith             Industrials
 2      ABT  Abbott Laboratories             Health Care
 3     ABBV               AbbVie             Health Care
 4      ACN            Accenture  Information Technology
 ..     ...                  ...                     ...
 498    XYL           Xylem Inc.             Industrials
 499    YUM          Yum! Brands  Consumer Discretionary
 500   ZBRA   Zebra Technologies  Information Technology
 501    ZBH        Zimmer Biomet             Health Care
 502    ZTS               Zoetis             Health Care

                                 GICS Sub-Industry    Headquarters Location  \
 0                        Industrial Conglomerates    Saint Paul, Minnesota
 1                               Building Products     Milwaukee, Wisconsin
 2                           Health Care Equipment  North Chicago, Illinois
 3                                   Biotechnology  North Chicago, Illinois
 4                  IT Consulting & Other Services          Dublin, Ireland
 ..                                            ...                      ...
 498  Industrial Machinery & Supplies & Components   White Plains, New York
 499                                   Restaurants     Louisville, Kentucky
 500            Electronic Equipment & Instruments   Lincolnshire, Illinois
 501                         Health Care Equipment          Warsaw, Indiana
 502                               Pharmaceuticals   Parsippany, New Jersey

      Date added      CIK      Founded
 0    1957-03-04    66740         1902
 1    2017-07-26    91142         1916
 2    1957-03-04     1800         1888
 3    2012-12-31  1551152  2013 (1888)
 4    2011-07-06  1467373         1989
 ..          ...      ...          ...
 498  2011-11-01  1524472         2011
 499  1997-10-06  1041061         1997
 500  2019-12-23   877212         1969
 501  2001-08-07  1136869         1927
 502  2013-06-21  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0       March 24, 2025   DASH                       DoorDash     BWA
 1       March 24, 2025    TKO             TKO Group Holdings     TFX
 2       March 24, 2025    WSM          Williams-Sonoma, Inc.      CE
 3       March 24, 2025    EXE                  Expand Energy     FMC
 4    December 23, 2024    APO       Apollo Global Management    QRVO
 ..                 ...    ...                            ...     ...
 363     April 12, 1999    ACT                        Actavis     NaN
 364  December 11, 1998    FSR                        Firstar      AN
 365  December 11, 1998    CCL                 Carnival Corp.     GRN
 366  December 11, 1998   CPWR                      Compuware     SUN
 367      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                                              Reason
             Security                                         Reason
 0         BorgWarner               Market capitalization change.[4]
 1           Teleflex               Market capitalization change.[4]
 2           Celanese               Market capitalization change.[4]
 3    FMC Corporation               Market capitalization change.[4]
 4              Qorvo               Market capitalization change.[5]
 ..               ...                                            ...
 363              NaN        Actavis plc (NYSE:ACT) added to S&P 500
 364            Amoco                       BP purchased Amoco.[262]
 365       General Re  Berkshire Hathaway purchased General Re.[262]
 366       SunAmerica                 AIG purchased SunAmerica.[262]
 367           USLife                      AIG acquired USLife.[263]

 [368 rows x 6 columns]]

In [66]:
len(data_table)

2

In [67]:
data_table[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [70]:
tickers = data_table[0]['Symbol'].tolist()

In [71]:
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'APO',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DELL',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DASH',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ERIE',
 'ESS',
 'EL',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXE',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LII',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PLTR',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TER',
 'TSLA',
 'TXN',
 'TPL',
 'TXT',
 'TMO',
 'TJX',
 'TKO',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WSM',
 'WMB',
 'WTW',
 'WDAY',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [72]:
len(tickers)

503

In [76]:
yf.download('MMM', start='2022-05-02', end='2022-05-05')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker             MMM         MMM         MMM         MMM      MMM
Date
2022-05-02  107.168999  108.336831  105.604541  106.140715  4445891
2022-05-03  108.762825  109.328381  107.176338  107.389334  3000405
2022-05-04  113.279930  113.595756  108.615938  109.438563  4418263

In [78]:
snp_prices = yf.download(tickers, start='2022-05-02', end='2022-05-05')['Close']

[*********************100%***********************]  503 of 503 completed

9 Failed downloads:
['BF.B']: YFPricesMissingError('possibly delisted; no price data found  (1d 2022-05-02 -> 2022-05-05)')
['SW', 'SOLV', 'GEHC', 'VLTO', 'GEV', 'KVUE']: YFPricesMissingError('possibly delisted; no price data found  (1d 2022-05-02 -> 2022-05-05) (Yahoo error = "Data doesn\'t exist for startDate = 1651464000, endDate = 1651723200")')
['TKO']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')
['BRK.B']: YFTzMissingError('possibly delisted; no timezone found')

In [79]:
snp_prices

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-05-02,117.054100,155.441299,133.220673,152.779999,106.904831,43.627224,292.744781,407.290009,149.849060,82.199532,...,202.909943,36.125656,70.185341,65.741493,77.882805,78.887749,109.295074,117.691780,379.570007,170.202347
2022-05-03,119.824554,156.937042,134.779297,145.000000,106.525826,44.150219,292.956207,407.579987,150.531281,82.613716,...,205.318192,37.135902,70.165779,65.252983,79.487152,79.408333,108.643600,117.721046,368.140015,170.660309
2022-05-04,123.642509,163.372803,136.572128,156.179993,109.624115,44.987011,302.605469,423.350006,156.121597,83.893066,...,211.228561,38.083023,70.430023,66.401894,82.650780,87.053200,111.872620,123.222748,367.869995,172.336334

In [80]:
snp_prices.isna().any()

Ticker
A       False
AAPL    False
ABBV    False
ABNB    False
ABT     False
        ...
XYL     False
YUM     False
ZBH     False
ZBRA    False
ZTS     False
Length: 503, dtype: bool

In [81]:
snp_prices.loc[:, snp_prices.isna().any()]

Ticker      BF.B  BRK.B  GEHC  GEV  KVUE  SOLV  SW  TKO  VLTO
Date
2022-05-02   NaN    NaN   NaN  NaN   NaN   NaN NaN  NaN   NaN
2022-05-03   NaN    NaN   NaN  NaN   NaN   NaN NaN  NaN   NaN
2022-05-04   NaN    NaN   NaN  NaN   NaN   NaN NaN  NaN   NaN

In [82]:
yf.download('BF-B')['Close']

[*********************100%***********************]  1 of 1 completed

Ticker           BF-B
Date
1980-03-17   0.184985
1980-03-18   0.184985
1980-03-19   0.187460
1980-03-20   0.188078
1980-03-21   0.185603
...               ...
2025-03-31  33.939999
2025-04-01  33.500000
2025-04-02  34.509998
2025-04-03  32.910000
2025-04-04  32.020000

[11357 rows x 1 columns]

In [83]:
yf.download('BRK-B')['Close']

[*********************100%***********************]  1 of 1 completed

Ticker           BRK-B
Date
1996-05-09   23.200001
1996-05-10   24.000000
1996-05-13   23.900000
1996-05-14   23.600000
1996-05-15   23.200001
...                ...
2025-03-31  532.580017
2025-04-01  532.989990
2025-04-02  537.719971
2025-04-03  530.159973
2025-04-04  493.540009

[7274 rows x 1 columns]

In [85]:
for i in range(len(tickers)):
    if tickers[i] == 'BRK.B':
        tickers[i] = 'BRK-B'
    elif tickers[i] == 'BF.B':
        tickers[i] = 'BF-B'

In [86]:
'BF-B' in tickers

True

In [87]:
'BRK-B' in tickers

True

In [90]:
snp_prices = yf.download(tickers, start='2024-09-02', end = '2024-10-05')['Close']

[*********************100%***********************]  503 of 503 completed

In [91]:
snp_prices[['BRK-B', 'BF-B']]

Ticker           BRK-B       BF-B
Date
2024-09-03  476.829987  45.331215
2024-09-04  478.570007  44.718231
2024-09-05  464.920013  44.708347
2024-09-06  459.420013  44.629250
2024-09-09  459.609985  45.815674
2024-09-10  458.920013  45.064274
2024-09-11  453.100006  45.054386
2024-09-12  450.869995  45.568501
2024-09-13  447.609985  45.934315
2024-09-16  451.779999  46.092503
2024-09-17  456.679993  46.507755
2024-09-18  456.600006  47.150394
2024-09-19  459.709991  47.219601
2024-09-20  455.309998  45.845333
2024-09-23  454.980011  46.507755
2024-09-24  454.559998  46.369339
2024-09-25  452.359985  45.479519
2024-09-26  454.179993  47.031757
2024-09-27  457.470001  47.793045
2024-09-30  460.260010  48.643314
2024-10-01  457.410004  48.188519
2024-10-02  456.670013  47.783157
2024-10-03  452.959991  47.061413
2024-10-04  461.970001  46.824131

In [92]:
len(snp_prices.columns)

503

In [93]:
snp_prices

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2024-09-03,138.189590,222.280777,194.291641,114.980003,113.526405,107.689255,340.494049,571.039978,216.844406,59.389301,...,289.731171,29.883680,75.398430,60.964153,113.513557,129.942078,132.211563,115.404808,330.450012,182.584061
2024-09-04,137.394028,220.365005,193.623322,115.209999,113.268974,107.755821,342.595490,575.250000,219.908035,60.173058,...,291.872772,29.755383,76.621758,61.588226,112.127441,128.331589,133.528931,113.725945,328.869995,186.323853
2024-09-05,137.592911,221.891632,189.544662,116.160004,111.981819,106.681305,339.547913,567.929993,217.191406,58.850468,...,291.168854,29.775120,76.701324,61.880760,111.252525,127.277817,133.221878,103.781876,329.040009,185.587830
2024-09-06,136.439331,220.335083,190.075378,114.279999,112.734306,105.026741,338.462311,563.409973,211.817642,58.262650,...,288.610809,29.952765,76.303490,61.344448,110.731499,125.965569,132.597855,104.119629,320.769989,188.213654
2024-09-09,137.324417,220.424866,193.043457,116.360001,115.278900,106.243896,340.424347,569.880005,216.695663,58.292038,...,291.852936,29.873812,76.492455,61.910019,113.061348,128.550293,131.775742,104.139511,327.929993,190.700226
2024-09-10,137.264740,219.626633,195.923111,115.120003,115.952171,105.815987,346.290466,574.479980,216.854309,57.851173,...,289.156158,30.485697,74.940926,62.251305,108.942337,129.057297,131.627182,104.467339,334.850006,190.332214
2024-09-11,137.931030,222.171021,191.244934,115.959999,115.447212,104.361115,348.889893,580.380005,223.150162,57.802189,...,285.626404,30.456089,75.358643,62.261055,107.860985,129.106995,132.756332,104.457397,337.440002,188.969589
2024-09-12,135.633820,222.280777,190.684738,117.360001,115.674950,104.846077,348.471588,586.549988,219.640335,58.409603,...,287.173157,30.998892,75.845985,62.300056,109.345398,130.240295,132.142227,104.447464,337.040009,189.685715
2024-09-13,136.548737,222.011383,190.871460,117.750000,115.249199,106.519653,348.162842,536.869995,223.497162,59.163967,...,288.224121,32.025280,78.034042,62.789871,109.266754,130.061371,132.379944,105.560089,337.480011,190.063675
2024-09-16,137.543182,215.844955,192.365326,117.550003,116.467033,108.611633,352.684418,521.500000,221.375412,59.183563,...,291.466278,32.084492,78.521378,63.498024,110.800316,132.009842,133.281311,106.722374,343.790009,193.206696
2024-09-17,137.582962,216.313904,190.124527,122.120003,116.962090,108.364395,335.673676,515.030029,223.427750,59.232548,...,290.445038,32.814808,79.565681,63.439011,112.245415,132.357803,131.092300,105.540207,354.519989,194.658859
2024-09-18,138.239304,220.205353,189.623291,122.419998,113.744217,107.489571,334.817169,508.130005,220.740860,59.301125,...,290.008759,32.666771,78.352303,63.301315,112.638634,132.079437,129.358932,105.579956,351.829987,195.424713
2024-09-19,141.162994,228.367386,190.291611,128.750000,113.021446,105.949112,333.880951,526.440002,231.458649,61.182148,...,286.350220,33.150360,79.744705,63.006248,114.034576,135.499222,129.844269,105.639549,363.790009,192.202133
2024-09-20,139.313309,227.698853,190.144196,131.179993,112.575890,107.679749,334.856995,522.299988,224.845551,60.114277,...,285.894135,32.804939,79.277260,63.075096,113.316940,134.017975,128.477402,105.719032,366.760010,191.605331
2024-09-23,139.014984,225.972656,190.498001,129.029999,113.674911,108.079132,337.834869,527.869995,224.082123,59.673412,...,288.372833,33.110878,79.774544,62.907894,115.371536,133.719742,129.131119,106.861458,362.390015,192.550247
2024-09-24,141.083435,226.870682,190.183487,131.479996,112.219444,107.784348,338.243225,524.070007,225.390869,59.497066,...,286.746796,33.337868,83.703102,63.114437,115.066788,132.258377,132.528534,107.099869,364.429993,192.649704
2024-09-25,138.666916,225.872879,187.972168,130.710007,111.496666,107.518097,335.683624,517.900024,224.706757,56.959648,...,287.916809,32.538475,83.673256,63.134113,112.825409,132.825027,131.825256,105.798508,364.970001,190.501312
2024-09-26,145.926468,227.020355,188.601166,129.250000,111.615479,107.042648,354.367584,515.380005,230.477112,58.164677,...,288.680206,32.725986,90.535805,62.927563,110.888802,133.341980,136.757965,107.000534,371.239990,193.823364
2024-09-27,147.239136,227.289749,191.441483,128.250000,111.318451,107.841408,348.282379,515.479980,230.070602,58.781887,...,290.524353,33.308262,97.090027,63.507858,113.857620,133.719742,138.590363,107.507179,368.600006,193.763687
2024-09-30,147.656799,232.488327,194.085236,126.809998,112.882820,106.386528,352.047028,517.780029,228.206635,58.527168,...,292.901154,33.416824,95.359474,64.225853,115.233902,134.236694,138.382370,107.477303,370.320007,194.330627
2024-10-01,145.979462,225.713242,193.574203,125.470001,112.437271,107.936493,350.553131,502.799988,221.762070,58.311634,...,298.917664,33.258919,98.910088,64.245522,117.897987,133.600449,137.916840,106.869972,364.299988,193.375778
2024-10-02,145.959549,226.281982,193.436600,126.180000,112.516487,108.155197,354.845642,505.809998,225.787460,57.596451,...,293.776276,33.179966,101.486031,64.078316,119.461044,133.590515,138.213974,105.227203,368.679993,191.426315
2024-10-03,143.977432,225.174408,192.090134,125.290001,111.120422,107.308899,359.775574,503.799988,224.627426,57.282951,...,288.982910,32.498997,102.520386,63.340656,120.503090,132.278259,135.906128,103.733780,363.890015,189.964203
2024-10-04,144.395767,226.301941,190.950073,129.850006,111.526367,109.220207,360.771515,507.220001,226.283173,58.027519,...,289.082367,32.449654,104.877510,62.681679,122.714973,132.685867,135.272217,104.221626,366.720001,189.009354